:root {
    --orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --titulos: #393c41;
    --backgroundColor: #0f2f4e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    overflow-y: hidden;
}

header {
    height: 10vh;
    width: 100%;
    min-width: 320px;
    position: fixed;
    top: 0;
    background-color: rgba(51, 51, 51, 0.15);
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.5;
    color: var(--titulos);
}

.titulo a {
    text-decoration: none;
}

.titulo .icono-menu {
    width: 20px;
    height: 20px;
    background-image: url('../img/menu-icon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.menu-desplegable {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: none;
}

.icono-menu--close {
    width: 15px;
    height: 15px;
    margin-right: 25px;
    margin-top: 25px;
    background-image: url('../img/close.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.menu-desplegable .menu-desplegable--transparente {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.16);
}

.menu-desplegable .menu-desplegable--info {
    width: 70%;
    height: 100%;
    max-width: 300px;
    min-width: 160px;
    background-color: var(--just-white);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-desplegable .menu-desplegable--info nav {
    width: 80%;
    margin: 0 auto;
}

.menu-desplegable .menu-desplegable--info ul {
    list-style: none;
}

.menu-desplegable .menu-desplegable--info li {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-bottom: 1px solid gray;
}

.menu-desplegable .menu-desplegable--info a {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    text-decoration: none;
    color: var(--warm-black);
}

.main-container {
    width: 100%;
    height: 100vh;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /*creando la magia*/
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    /*overflow-x: hidden;*/
}

.principal-section--container {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.principal-section-body {
    width: 100%;
    height: 80vh;
    margin-top: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.principal-section-body .title-container {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.principal-section--container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--titulos);
}

.principal-section--container a {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #808080;
}

.seccion-bc-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/background-img-HD.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.seccion-bc-img h1 {
    font-size: 6rem;
    font-weight: bold;
    line-height: 6.5rem;
    color: var(--just-white);
    padding: 10px 100px;
    background-color: #54b7efd0;
}

.seccion-bc-img p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: var(--just-white);
}

.seccion-bc--title {
    text-align: center;
}

.seccion-proyectos {
    background-color: var(--off-white);
}

.seccion-servicios {
    background-color: var(--warm-black);
}

.seccion-servicios .title-container h2 {
    color: white;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px 20px;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    text-align: left;
}

.product-detail--card .icono-card {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clock {
    background-image: url('../img/clock.svg');
}

.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.seccion-perfil {
    height: 90vh;
    background-color: var(--off-white);
}

.main-container--tarjetas {
    display: flex;
    align-items: center;
    /*creando la magia*/
    width: 90vw;
    height: 70vh;
    min-width: 288px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    /*overflow-y: hidden;*/
}

.main-container--tarjetas .tarjeta-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90vw;
    height: 95%;
    min-width: 250px;
    max-width: 300px;
    max-height: 350px;
    margin: 0 20px 0;
    padding-bottom: 5px;
    border-radius: 10px;
    scroll-snap-align: center;
    background-color: var(--off-white);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.16);
    text-align: start;
}

.main-container--tarjetas .tarjeta-body h3 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    margin-left: 10px;
    color: var(--black);
}

.main-container--tarjetas .tarjeta-body p {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-left: 10px;
    color: var(--black);
}

.main-container--tarjetas .tarjeta-body a {
    margin-left: 10px;
}

.seccion-servicios .main-container--tarjetas .tarjeta-body {
    background-color: var(--black);
}

.seccion-servicios .main-container--tarjetas .tarjeta-body h3 {
    color: var(--just-white);
}

.seccion-servicios .main-container--tarjetas .tarjeta-body p {
    color: #808080;
}

.background-image-card {
    display: block;
    width: 95%;
    height: 50%;
    margin: 0 auto;
    /*border-radius: 10px 10px 0 0;*/
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.simetrical {
    background-image: url('../img/simetrical.PNG');
}

.mobileFirts {
    background-image: url('../img/mobileFirst.png');
}

.paginaCopiadeGoogle {
    background-image: url('../img/googleCopy.png');
}

.plantaTratadora {
    background-image: url('../img/render.png');
}

.chevyVss {
    background-image: url('../img/vssCar.png');
}

.minisumo {
    background-image: url('../img/minisumo.jpeg');
}

.laberinto {
    background-image: url('../img/fauno.jpg');
}

.web-service {
    background-image: url('../img/web-service.jpg');
}

.mechanic-img {
    background-image: url('../img/mechanic.PNG');
}

.pcb-orion {
    background-image: url('../img/pcb.png');
}

.code-img {
    background-image: url('../img/code.jpg');
}

.miFoto {
    width: 80%;
    height: 70%;
    border-radius: 50%;
    background-position: top;
    background-image: url('https://avatars.githubusercontent.com/u/56939611?s=460&u=f965cff1883772a4c0f430ab6b2bf516018ae45b&v=4');
}


/*
*
FOOTER
*
*/

footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(51, 51, 51);
}

footer .logo {
    color: var(--just-white);
}

footer a {
    color: var(--just-white);
    margin-left: 15px;
    font-size: 1.4rem;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

.contact-icon {
    /*left: calc((100% - 250px)/2);*/
    position: absolute;
    bottom: calc(10vh + 10px);
    right: 15px;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
    background-image: url('../img/telegram_logo.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 3px 4px rgba(51, 51, 51, 0.16);
    cursor: pointer;
}

.contact-icon:hover {
    box-shadow: 0 3px 5px rgba(51, 51, 51, 0.8);
}