* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    height: 15vh;
    width: 100vw;
    background-color: rgb(51, 51, 51);
}

.titulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 90%;
    color: rgb(214, 214, 214);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.6rem;
}

.titulo h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.55rem;
}

.titulo img {
    height: 200px;
    max-height: 100%;
    border-radius: 50%;
    border: 1px solid gray;
}

.main-container {
    background-color: gray;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
}

.main-info {
    width: 90%;
    order: 1;
}

.right-info {
    order: 2;
}

@media (min-width:600px) {
    .main-container {
        height: 75vh;
    }
    .main-info {
        width: 50%;
        order: 2;
        color: royalblue;
    }
    .right-info {
        order: 1;
    }
}

a {
    text-decoration: none;
    color: rgb(1, 0, 50);
}

ul {
    list-style: none;
}

footer {
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
}